@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #1e40af; /* -- 800 */
    --color-button-hover: #1d4ed8; /* -- 700 */
    --color-button: #2563eb; /* -- 600 */
    --color-active: #2563eb; /* -- 600 */
    --primary-color: #3b82f6; /* -- 500 */
    --color-text: #60a5fa; /* -- 400 */
    --color-hover: #93c5fd; /* -- 300 */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}